body
{
	margin:0px;
	padding:0px;
}

@font-face
{
	font-family:myFont;
	src:url("fonts/Queen.ttf");
}
#sidebar
{
	background:url("images/background1.jpg");
	position:absolute;
	width:20%;
	height:100%;
	font-family:myFont;
	font-size:190%;
	
}

#navigation
{
	position:absolute;
	left:20%;
	width:80%;
	background:url("images/iceCream1.jpg");
}
li
{
	float:left;
}
a
{
	text-decoration:none;
	font-family:myFont;
	font-size:60px;
	padding:10px;
}
a:hover
{
	background-color:hotpink;
}
ul{
	list-style:none;
}

#mainpage
{
	background-color:grey;
	position:absolute;
	left:20%;
	top:9%;
	width:80%;
	height:89%;
}

p
{
	font-family:myFont;
	text-transform:capitalize;
	text-align:center;
	
}