body
{
	margin:0px;
	padding:0px;
}

@font-face
{
	font-family:myFont;
	src:url("fonts/Queen.ttf");
}
#sidebar
{
	background:url("images/background1.jpg");
	position:absolute;
	width:20%;
	height:100%;
	font-family:myFont;
	font-size:200%;
	
}

#navigation
{
	background-color:blue;
	position:absolute;
	left:20%;
	width:80%;
}

#mainpage
{
	background-color:grey;
	position:absolute;
	left:20%;
	top:15%;
	width:80%;
	height:85%;
}